<ion-header>
  <ion-toolbar>
    <ion-title>Aufgabe 3: Distanz</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="skipTask()">Skip
        <ion-icon slot="icon-only" name="play-skip-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="task-wrapper">
    <h2 class="task-title">
      Laufe 20 Meter, um die Aufgabe zu erfüllen.
    </h2>
    <div class="button-row">
      <ion-button color="medium" (click)="cancelGame()" class="cancel-button">
        ❌ Abbrechen
      </ion-button>

      @if (distanceReached) {
        <ion-button
          color="primary"
          (click)="goToNextTask()"
          class="next-button"
        >
          ▶️ Weiter
        </ion-button>
      }
    </div>
  </div>
</ion-content>
