@if (!taskCompleted) {
  <ion-button class="fixed-scan-button" (click)="scanQRCode()" [disabled]="!hasCamera">
    Scan QR Code
  </ion-button>

  @if (resultText) {
    <ion-text color="danger">
      <p>{{ resultText }}</p>
    </ion-text>
  }
}

@if (!hasCamera && platform.is('android')) {
  <ion-text>
    <p>Camera is not available or permissions denied. Please enable camera access in your device settings.</p>
  </ion-text>
}

@if (taskCompleted) {
  <div class="task-successfull">
  <ion-text color="success">
    <h3>
      🎉 Aufgabe gelöst!
    </h3>
  </ion-text>
  <p>
    {{ taskService.printTaskInfo(TASK_NUMBER) }}
  </p>
  </div>
}
