<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (imagePath) {
    <ion-img [src]="imagePath" style="margin: 20px auto; max-width: 90%;"></ion-img>
  } @else {
    <ion-button expand="block" (click)="scanQRCode()">QR-Code scannen</ion-button>
  }

  @if (resultText) {
    <ion-text>
      <p style="padding: 16px"><strong>Erkannt:</strong> {{ resultText }}</p>
    </ion-text>
  }
</ion-content>
