<!-- Erfolgsmeldung, sobald das Ziel erreicht ist -->
@if (taskCompleted) {
   <ion-text color="success">
     <h3>
        🎉 Ziel erreicht!
     </h3>
   </ion-text>
  <p>
    {{ taskService.printTaskInfo(TASK_NUMBER) }}
  </p>
}

<!-- Verbleibende Strecke, solange das Ziel noch nicht erreicht ist -->
@if (!taskCompleted) {
  <h4 style="color: grey">
    Zurückgelegte Strecke {{ totalDistanceTravelled() | number:'1.0-2' }} Meter <br><br>
    Noch {{ (DISTANCE_GOAL_IN_METERS - totalDistanceTravelled()) | number:'1.0-2' }} Meter zu gehen…
  </h4>
}
