<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schnitzeljagd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<!--  <div class="content-wrapper">-->
<!--    <div class="title">-->
<!--      <h1>Schnitzeljagd</h1>-->
<!--      <p>Bist du bereit?</p>-->
<!--    </div>-->

<!--    <ion-button >-->
<!--      ▶️ Spiel starten-->
<!--    </ion-button>-->
<!--  </div>-->
  <h1>hello world</h1>
  <ion-button>hello</ion-button>
</ion-content>
